:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #ffffff; 
    --secondary-bg-color: #2F303A;
    --primary-white-color: #FFFFFF;
    --secondary-button-color: #F5F4FA;
    --background-adress-color: rgba(255, 255, 255, 0.6);
    --background-picture: #C4C4C4;
    --primary-icom-color: rgba(175, 177, 184, 1);
    --icons-color: #AFB1B8;

}

p,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

img, svg {
    display: block;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}


.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

}

.section {
    padding-top: 95px;
    padding-bottom: 94px;
}


/*----------HEADER----------*/

header {
    border-bottom: 1px solid #ECECEC;
}

.header-section {
    display: flex;
    align-items: center;
}

.nav{display: flex;}

.nav-nav,
.contact {
    display: flex;
    margin-right: 50px; 
}


.nav-flex,
.contact-flex{
    margin-left: 50px;
}

.nav-flex:first-child{
    margin-left: 0;
}

.contact-flex:first-child {
    margin-left: 0;
}


.contact {
    margin-left: auto;
}

.logo {
    padding-bottom: 25px;
    padding-top: 24px;
    margin-right: 93px;

    color: var(--title-text-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.logo-web {
    color: var(--accent-color);
}

.nav-link, .nav-contact {
    color: var(--title-text-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav-link {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;


    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contact{
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover, 
.nav-link:focus {
    color: var(--accent-color);
}

/* .nav-flex:hover .nav-link-line{
    display: block;
} */

.nav-link-line{
    display: none;
    /* display: block;
    visibility: hidden; */
    position: relative;
    top: 1px;
    height: 4px;
    width: 105%;
    border-radius: 2px;

    border: 1px solid var(--accent-color);
    background: var(--accent-color);
}

.nav-link.current{
    color: var(--accent-color);
}

.nav-link-line-current{
    display: block;
}

.nav-contact:hover,
.nav-contact:focus {
    color: var(--accent-color);
}

.contact-icon {
    width: 16px;
    height: 12px;
    fill: currentColor;
    margin-right: 10px;
}


/*----------HERO----------*/


.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;  
    
    background-color: var(--secondary-bg-color);
}

.overlay {
    background-color: var(--background-picture);
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url('../images/HeroBackground.png');

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 1600px;
    }

.hero-title {
    display: flex;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 780px;

    color: var(--primary-white-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;    
}


/*----------BUTTON----------*/


.button {
    display: inline-block;
    border-color: transparent;
    text-align: center;

    color: var(--title-text-color);
    
    font-family: inherit;
    cursor: pointer;
    border-radius: 4px;

    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.button.primery-button {
    padding: 10px 32px;
    min-width: 216px;

    background-color: var(--accent-color);
    color: var(--primary-bg-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

}

.button.secondary-button {
    padding: 6px 22px;

    background-color: var(--secondary-button-color);
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;  
}

.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


/*----------SECTION TITLE----------*/

.section-title  {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--title-text-color);

    font-size: 36px;
    line-height: 1.27;
    text-align: center;
}

.section-title-h3 {
    color: var(--primary-white-color);

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}


/*----------FEATURES----------*/


.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

}

.feature-icon{
    padding-bottom: 25px;
    padding-top: 25px;
    width: 270px;
    height: 120px;

    background: var(--secondary-button-color);

    border-radius: 4px;
}

.feature {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.feature-title {
    margin-bottom: 10px;
    margin-top: 30px;

    color: var(--title-text-color);

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.feature-text {
    line-height: 1.71;
}




/*----------ACTIVITY----------*/

.activity {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 94px;
}

.activity-pos {
    position: relative;
}

.activity-name {
    position: absolute;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
    bottom: 0;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    
    background-color:rgba(47, 48, 58, 0.8);
    color: var(--primary-white-color);
}


/*----------TEAM----------*/

.team {
    display: flex;
    justify-content: center;
    gap: 30px;

}

.team-section{
    background-color: var(--secondary-button-color);
}

.team-content {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
}

.team-photo{
    margin-bottom: 30px;
}

.team-name {
    margin-bottom: 10px;

    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.team-position {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.team-social{
    display: flex;
    padding-left: 32px;
    align-items: center;
    gap: 10px;
}

.team-icon{
    height: 44px;
    width: 44px;
}

.team-link {
    display: inline-block;
    padding: 12px;
    border-radius: 50%;

    color: var(--icons-color);

    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.team-icon-fill {
    height: 20px;
    width: 20px;
    fill: currentColor;
}


/*----------KLIENTS----------*/


.klient-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}


.klient-link {
    display: inline-block;
    padding: 16px 32px;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icons-color);
    border-radius: 4px;

    color: var(--icons-color);  

    transition-property: color, border-color;
    transition-duration: 250ms;    
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.klient-icon {
    text-align: center;
    width: 106px;
    height: 60px;
    fill: currentColor;
}

.klient-link:hover,
.klient-link:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}


/*----------FOOTER----------*/

/*----------LOGO/ADDRESS----------*/
.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--secondary-bg-color);
}
.footer .container{
    display: flex;
}

.logo-fr {
    display: inline-block;
    margin-bottom: 20px;

    color: var(--primary-white-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;


}

.address-map {
    color: var(--primary-white-color);
    line-height: 1.71;
    font-style: normal;
    
}

.address-contact {
    line-height: 1.71;
    font-style: normal;

    color: var(--background-adress-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.address-flex{
    margin-bottom: 9px;
}

.address-flex:last-child {
    margin-bottom: 0;
}

.address-contact:hover,
.address-contact:focus{
    color: var(--accent-color);
}



/*----------MEDIA----------*/


.media {
    margin-left: 70px;
    margin-top: 12px;
}

.media .section-title-h3 {
    padding-bottom: 20px;
}

.media-social {
    display: flex;
    align-items: center;
    gap: 10px;
}

.media-icon {
    height: 44px;
    width: 44px;
}

.media-link {
    display: inline-block;
    padding: 12px;
    border-radius: 50%;

    background: rgba(255, 255, 255, 0.1);
    color: var(--primary-white-color);

    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.media-link:hover,
.media-link:focus {
    background: var(--accent-color);
}

.media-icon-fill {
    height: 20px;
    width: 20px;
    fill: currentColor;
}

.footer-wrap {
    position: relative;
}

.follow-svg {
    display: flex;
    align-items: center;
}

.follow-svg svg {
    padding-left: 10px;
}

.footer-input {
    outline: transparent;
    padding-left: 16px;
    margin-right: 12px;
    width: 385px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: rgba(0, 0, 0, 0);

    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}

.media-mail {
    display: flex;
    align-items: center;
}

.media-mail .button.primery-button {
    width: 200px;
    height: 50px;
}




/*----------BACKDROP/MODAL----------*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(85, 85, 85, 0.454);
    z-index: 10;
    transition: opacity 200ms linear, visibility 200ms linear;
    backdrop-filter: blur(5px);
}

.modal {
    padding: 40px;
    width: 528px;
    min-height: 581px;


    background-color: var(--primary-white-color);
   
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1);
    transition: rtansform 200ms linear;
}

.modal-end {
    text-align: center;
}


.backdrop.is-hidden {
    transform: translate(-50%, -50%) scaleY(0);
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-color: transparent;


    border: 1px solid var(--icons-color);
    background-color: var(--primary-white-color);
    

    display: flex; 
    align-items: center;
    justify-content: center;
}

.modal-close-svg {
    fill: black;
}

.modal-close:hover .modal-close-svg{
    fill: var(--accent-color);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}


.modal-title {
    text-align: center;
    margin-bottom: 20px;

    color: var(--title-text-color);
    
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
}

.modal-field {
    margin-bottom: 20px;
    
}

.input-wrap {
    position: relative;
    margin-bottom: 10px;
    margin-top: 4px;
}

.modal-input {
    outline: transparent;
    padding-left: 30px;
    width: 100%;
    height: 40px;
    border: 1px solid;
    border-color: rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    font-size: 14px;
    color: var(--primary-text-color);

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input.comment {
    height: 120px;
    padding-top: 12px;
    padding-left: 16px;
}

.modal-input:hover,
.modal-input:focus {
    border-color: var(--accent-color);
}

.modal-icon {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);

    fill: var(--title-text-color);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap:hover .modal-icon{
    fill: var(--accent-color);
}

::placeholder{
 color: rgba(117, 117, 117, 0.5);
}

.check-text{
    display: flex;
}

.input-wrap-check {
    position: relative;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.check-text a {
    color: var(--accent-color);
}

.check-text span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 15px;

    fill: transparent;
    border: 2px solid black;
    border-radius: 3px;
    margin-right: 5px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.84px;   
}

.input-check:checked+.check-text span {
    border: none;
    background-color: var(--accent-color);
    fill: var(--primary-white-color);
}
/* 
.check-text::before {
    content: "";
    width: 16px;
    height: 15px;

    border: 2px solid black;
    border-radius: 3px;
    display: block;
    margin-right: 5px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.84px;
    
}


.input-check:checked + .check-text::before  {
    border: none;
    background-color: var(--accent-color);
    background-image: url(../images/check-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
} */



/*----------PORTFOLIO----------*/


.portfolio-button {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-button-term:not(:last-child){
    margin-right: 8px;
}


.portfolio{
    display: flex;
    flex-wrap: wrap;
}


.portfolio-menu {
    padding-left: 24px;

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    
    border-top: 0;
}

.portfolio-section {
    padding-top: 0;
    margin-bottom: 20px;
    margin-right: 20px;

    width: 370px;
}

.portfolio-link {
    display: block;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-section:nth-child(3n) {
    margin-right: 0;
}

.portfolio-section:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.portfolio-img {
    padding: 0;
    padding: 0;
}

.portfolio-link:hover .portfolio-img-text {
    transform: translateY(0);
}

.portfolio-link:focus .portfolio-img-text {         
    transform: translateY(0);
}

.portfolio-img-wrap{
    position: relative;
    overflow: hidden;
}

.portfolio-img-text {       
    position: absolute;
    top: 0;
    height: 100%;
    padding: 63px 24px;
    transform: translateY(100%);
    transition: transform 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    background-color: rgba(33, 150, 243, 0.9);
    color: var(--primary-white-color);

    font-size: 18px;
    line-height: 1.55;
}

.portfolio-name {
    padding-top: 20px;
    padding-bottom: 4px;

    color: var(--title-text-color);

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-category {
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 1.87;
    color: var(--primary-text-color);
}
